.header{
    background-color: var(--elements-color);
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    align-items: center;
    height:5em;
    z-index:10;
    position: relative;
}

.header div{
    background-color: var(--elements-color);
}

.header .headerLogo{
    margin-left: 2em;
    font-weight: 900;
    font-size: 24px;
    cursor: pointer;
}

.header div{
    font-size: 18px;
    margin-right: 2em;
}